
@{
    ViewBag.Title = "PainelUsuario";
}
@model IEnumerable<DesfacaFacil.Models.USUARIO>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Painel do usuário</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="center-block img-circle img-responsive">
                    <h3 class="text-center">@Model.Single().NOME </h3>
                    <p class="text-center">@Model.Single().EMAIL</p>
                    <ol>
                        <li>One</li>
                        <li>Two</li>
                        <li>Three</li>
                    </ol>

                </div>
            </div>
            <div class="col-md-8">
                <h1>Meus anuncios</h1>
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                             class="img-responsive">
                        <h1>Heading</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                             class="img-responsive">
                        <h1>Heading</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                             class="img-responsive">
                        <h1>Heading</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                             class="img-responsive">
                        <h1>Heading</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisici elit,
                            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                            <br>Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>
                </div>
                <a href="#">Ver mais</a>
            </div>
        </div>
    </div>
</div>

