@using DAL
@{
    ViewBag.Title = "PainelUsuario";

}
@model List<DBUsuarios>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Painel do usuário</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="center-block img-circle img-responsive">
                    <h3 class="text-center">@Model.Single().nome </h3>
                    <p class="text-center">@Model.Single().email</p>
                    <ol>
                        <li>One</li>
                        <li>Two</li>
                        <li>Three</li>
                    </ol>

                </div>
            </div>
            <div class="col-md-8">
                <h1>@ViewBag.Pronome anuncios</h1>

                <div class="row">
                    @{List<DBAnuncios> meusAnuncios = new List<DBAnuncios>();
                        meusAnuncios = ViewBag.Anuncios;
                    }
                    @foreach (DBAnuncios a in meusAnuncios)
                    {
                        <div class="col-md-3">
                            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                                 class="img-responsive">

                            <h1>
                                @{
                                    string s = a.titulo;
                                    Html.ActionLink(s, "Visualizar", "ANUNCIOsController");
                                }
                            </h1>
                            <p>
                                @a.descricao
                            </p>
                        </div>
                                    }
                </div>
                <a href="#">Ver mais</a>
            </div>
            <button class="btn btn-default" onclick=gotoAnuncios() style="float:right">Novo Anúncio</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function gotoAnuncios() {
        location.href = '../../anuncios/criar';
    }
</script>
