
@{
    ViewBag.Title = "Alterar";
}
@model DAL.DBUsuarios


@{
    ViewBag.Title = "Cadastro";
}
@if (TempData["resultado"] != null)
{
    switch (TempData["resultado"].ToString())
    {
        case "0x00":
            <div class="alert alert-success">
                <strong>
                    Usuário criado com sucesso!<br>
                    Por favor cheque seu email para confirmar seu acesso.
                </strong>
            </div><br>
            break;
        case "1400":
            <div class="alert alert-warning">
                <strong>Atenção! Todos os campos devem ser preenchidos.</strong>
            </div><br>
            break;
        case "1":
            <div class="alert alert-danger">
                <strong>O email informado já encontra-se em uso.</strong>
            </div><br>
            break;
    }
}
<div id="conteudo">
    <form method="post" action="~/Usuarios/Alterar" role="form" title="Alterar de usuário" data-pg-name="Alterar de usuário">
        <div class="form-group">
            <b>Nome</b>
            <input type="text" class="form-control" name="nome" value="@Model.nome">
            <b>Telefone</b>
            <b><br></b>
            <input type="text" class="form-control" name="telefone" value="@Model.telefone">
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
            <b>Email</b>
            <b><br></b>
            <input type="email" class="form-control" name="email" value="@Model.email">
        </div>
        <div class="form-group">
            <b>Estado</b>
            <b><br></b>
            <input type="text" class="form-control" name="estado" value="">
        </div>
        <div class="form-group">
            <b>Cidade</b>
            <b><br></b>
            <input type="text" class="form-control" name="cidade" placeholder="Cidade">
        </div><br>
        <button type="submit" class="btn">Criar Conta</button>
    </form>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
<style type="text/css">
    #conteudo {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .alert {
        margin-left: 30%;
        left: 50%;
        text-align: center;
        width: 40%;
    }

    .form-group {
        width: 49%;
        display: inline-block;
    }
</style>
