
@{
    ViewBag.Title = "Cadastro";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blank Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
    </div>
    <form role="form" title="Cadastro de usuário" data-pg-name="Cadastro de usuário">
        <div class="form-group">
            <b>Nome</b>
            <b><br></b>
            <input type="text" class="form-control" id="email" placeholder="Nome">
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
            <b>Email</b>
            <b><br></b>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <b>Senha</b>
            <b><br></b>
            <input type="password" class="form-control" id="senha" placeholder="Senha">
        </div>
        <div class="form-group">
            <b>Estado</b>
            <b><br></b>
            <input type="text" class="form-control" id="email" placeholder="Estado">
        </div>
        <div class="form-group">
            <b>Cidade</b>
            <b><br></b>
            <input type="text" class="form-control" id="email" placeholder="Cidade">
        </div>
    </form>
    <button type="submit" class="btn">Criar Conta</button>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

<style type="text/css">
    .form-group {
        width: 40%;
        display: inline-block;
    }
</style>
