
@{
    ViewBag.Title = "Cadastro";
}

@if (TempData["resultado"] != null)
{
    switch (TempData["resultado"].ToString())
    {
        case "0x00":
            <div class="alert alert-success" style="text-align:center;width:40%;margin:auto">
                <strong>
                    Usuário criado com sucesso!<br>
                    Por favor cheque seu email para confirmar seu acesso.
                </strong>
            </div><br>
            break;
        case "1400":
            <div class="alert alert-warning" style="text-align:center;width:40%;margin:auto">
                <strong>Atenção! Todos os campos devem ser preenchidos.</strong>
            </div><br>
            break;
        case "1":
            <div class="alert alert-danger" style="text-align:center;width:40%;margin:auto">
                <strong>O email informado já encontra-se em uso.</strong>
            </div><br>
            break;
    }
}
<div id="conteudo">
    <form method="post" action="~/Usuarios/Cadastro" role="form" title="Cadastro de usuário" data-pg-name="Cadastro de usuário">
        <fieldset style="width:50%;height:90%;margin:auto;background-position-y:center">
            <legend>Cadastro de conta:</legend>
            <fieldset style="display:inline;padding-left:2.5%;padding-right:2.5%">
                <legend>Informação Pessoal</legend>
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome"><br />
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
            </fieldset>
            <fieldset style="display:inline;padding-left:2.5%;padding-right:2.5%">
                <legend>Dados de Login</legend>
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email"><br />
                <label for="senha">Senha</label>
                <input type="password" class="form-control " id="senha" name="senha" placeholder="Senha">
            </fieldset>
            <fieldset style="display:inline;padding-left:2.5%;padding-right:2.5%">
                <legend>Localização</legend>
                <label for="estado">Estado</label>
                <input type="text" class="form-control " id="estado" name="estado" placeholder="Estado"><br />
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control " id="cidade" name="cidade" placeholder="Cidade">
            </fieldset>
            <br><br><button type="submit" class="btn">Criar Conta</button>
        </fieldset>
    </form>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
