
@{
    ViewBag.Title = "Cadastro";
}

<div id="conteudo" style="width:70%">
    <form method="post" action="~/USUARIOs/Cadastro" role="form" title="Cadastro de usuário" data-pg-name="Cadastro de usuário">
        <div class="form-group">
            <b>Nome</b>
            <b><br></b>
            <input type="text" class="form-control" name="nome" placeholder="Nome">
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
            <b>Email</b>
            <b><br></b>
            <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <b>Senha</b>
            <b><br></b>
            <input type="password" class="form-control" name="senha" placeholder="Senha">
        </div>
        <div class="form-group">
            <b>Estado</b>
            <b><br></b>
            <input type="text" class="form-control" name="estado" placeholder="Estado">
        </div>
        <div class="form-group">
            <b>Cidade</b>
            <b><br></b>
            <input type="text" class="form-control" name="cidade" placeholder="Cidade">
        </div><br>
        <button type="submit" class="btn">Criar Conta</button>
    </form>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>

<style type="text/css">
    .form-group {
        width: 40%;
        display: inline-block;
    }
</style>
