
@{
    ViewBag.Title = "Index";
}

<div class="cover">
    <div class="cover-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Desfaça Fácil</h1>
                <p>Compartilhe de forma sustentável, o que você nao precisa mais</p>
                <br>
                <br>
                <a class="btn btn-lg btn-default" href="/Home/Missao    ">Conheça</a>
            </div>
        </div>
    </div>
</div>