
@{
    ViewBag.Title = "Nossa Missao";
}
<div id="texto" style="width:60%;margin:auto">
    <h1><strong>Missão</strong></h1><br />
    <p>
        O “Desfaça Fácil” tem o intuito de fazer com que a sociedade crie uma cultura sustentável diante de problemas que estão ocorrendo em nosso meio ambiente, conscientizando-os do quão importante é a preservação, frisando que, devemos reduzir o desperdício, reutilizar produtos, reciclar materiais descartados no meio ambiente, além de realizar ações solidarias na sociedade.
        O sistema permite que doadores e pessoas necessitadas se cadastrem e interajam entre si, viabilizando as doações de produtos.
    </p>
    <p>&nbsp;</p>
    <h3><strong><strong>Como Funciona</strong></strong></h3><br />
    <p>Os usuários podem navegar de forma anônima ou podem realizar um breve cadastro para pode utilizar os recursos do sistema.</p>
    <h4><strong><strong>Doador</strong></strong></h4><br />
    <p>
        Chamamos de doador, toda pessoa que quer participar da nossa rede anunciando produtos que para ele não será mais utilizado.
        O doador irá anunciar um produto especificando suas características e poderá monitorar e entrar em contato com quem ele deseja fazer a doação.
    </p>
    <h4><strong><strong>Receptor</strong></strong></h4><br />
    <p>
        Chamamos de receptor,  toda pessoa que deseja adquirir produtos anunciados no site.
        O receptor poderá escolher um produto de uma lista de anúncios ou fazer uma busca referente ao que deseja, ou podendo solicitar também uma doação que esteja anunciada no site.
    </p>
    <h4><strong><strong>Importante</strong></strong></h4><br />
    <p>
        O “Desfaça Fácil” é sem custo, ou seja, não cobra nenhum valor pelas doações realizadas através do site. Entretanto, contamos com a ajuda de todos para que a nossa missão e os nossos valores sejam alcançados. Por isso, pedimos a todos os participantes que possam compartilhar esse projeto. Caso queira ajudar esse projeto com novas ideias entre em contato.
    </p>
</div>
<style>
    p {
        text-align: justify;
    }

    #texto {
        padding-bottom:5%;
        padding-top:5%;
    }
</style>