
@{
    ViewBag.Title = "Pesquisa";
}
@model IEnumerable < DesfacaFacil.Models.ANUNCIO>


@if (!Model.Any())
{
    <h1>Nao encontrado</h1>
}
else
{
    foreach (var r in Model)
    {

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section">
                                    <div class="container">
                                        <div class="row">
                                            <a href="../../Anuncios/Visualizar/?id=@r.AID">
                                                <div class="col-md-12">
                                                    <h1>@r.TITULO</h1>
                                                    <br>
                                                    <a href="../../Login/PainelUsuario/?id=@r.USID">
                                                        <u>@r.USUARIO.NOME</u>
                                                    </a>
                                                    <p>
                                                        @r.DESCRICAO
                                                    </p>
                                                </div>
                                            </a>

                                        </div>
                                        <div class="row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    }
}
}