@{
    ViewBag.Title = "SobreNos";
}


<div id="texto">
    <p>
        <h3>
            <b>
                Quem somos<br />
            </b>
        </h3>
    </p>
    <img src="~/Repositorio/Imagens/Sistema/FIRM.png" style="align-self:center" /><br /><br />
    <p>Criado no segundo semestre do ano de 2016 pelos analistas de sistemas Ronney Santiago, Igor da Silva de Almeida, Felipe Aliprandi e Matheus de Souza. Buscando a preservação ambiental consciente e contribuição Social, o sistema "Desfaça Fácil" tem como objetivo realizar a interação online entre pessoas doadoras e e pessoas que se interessam por produtos em desuso. </p>

    <p>Com o objetivo de incentivar a preservação do meio ambiente e da prática da solidariedade na sociedade, o projeto deseja que a sociedade possa criar a consciência de que muitas vezes o que sobra na nossa casa pode ser muito útil para pessoas carentes. Para isso, o sistema tem o objetivo de dar apoio as pessoas que querem colaborar, mas não sabem como e não tem tempo a perder. </p>

    <p>O projeto não tem fins lucrativos e não cobra pela participação de doadores ou instituições. Nós nos propomos a: </p>

    <p>&emsp;1. Oferecer um site onde pessoas interessadas em ajudar possam anunciar produtos em desuso ou não. </p>

    <p>&emsp;2. Dar oportunidade para as pessoas carentes solicitar algum produto que está necessitando. </p>

    <p>&emsp;3. O sistema gera um grande impacto de forma sustentável no meio ambiente, pois ameniza o descarte irregular de materiais e promove o desenvolvimento social.</p>
</div>
<style>
    p {
        text-align: justify;
    }

    #texto {
        width: 60%;
        margin: auto;
        padding-bottom: 5%;
        padding-top: 5%;
    }
</style>